<div class="container products">

  <div class="row products__header">
    <app-header-w-cartcount [show]="true" [showCount]="true" [logoSubText]="'|shapes|'"></app-header-w-cartcount>
  </div>

  <div class="row products__products">
    <div class="col-xs-12">
     <div class="list-group">
         <app-product
          [product]="product"
          [viewMode]="product"
          [inSolo]="false"
          *ngFor="let product of products"></app-product>
      </div>
    </div>
  </div>
</div>
