@import "./../../mixins";
@import "./../../variables";

.products {
  width: 100%;
  height: 100%;
  text-align: center;

  &__header {
    margin-bottom: 2rem;
    @include actionFontLarge;
  }

  &__list {
  }
}

.heavier {
  font-weight: 300;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}
