<div class="container shopping-cart">

  <div class="row shopping-cart__header">
      <app-header-w-cartcount [show]="true" [showCount]="false" [logoSubText]="'|cart|'">
        <div>Items: <strong> {{shoppingCartItems.length}}</strong></div>
        <div>Total:<strong> {{runningTotal | currency: 'EUR'}}</strong></div>
      </app-header-w-cartcount>
  </div>

  <app-warning-box
    [warningCondition]="!shoppingCartItems || shoppingCartItems.length <= 0"
    [warningText]="'Your shopping cart is Empty'"
    [actionLink]="'/products'"
    [actionLinkPostText]="'to add items'">
  </app-warning-box>

  <div class="row shopping-cart__items" *ngIf="shoppingCartItems && shoppingCartItems.length > 0">
    <div class="col-xs-12">
      <app-shopping-cart-item
        [item]="item"
        *ngFor="let item of shoppingCartItems">
      </app-shopping-cart-item>
    </div>
  </div>
