@import '../../../mixins';
@import '../../../variables';

.totals-box {
  min-width: 10rem;
  position: fixed;
  top: 10rem;
  left: 10rem;
  z-index: 1001;
  background-color: $color-text;
  display: flex;
  border: 1px solid $color-primary-light;
  flex-direction: column;
  justify-content: flex-start;
  @include brand-box-shadow;

  &__header,
  &__footer {
    font-size: 2rem;
    font-weight: 300;
    color: $color-text;
    padding: 1rem;
    background-color: $color-primary;
  }

  &__content {
    padding: 1rem;
  }

  &__footer {}
}
