
<app-alert
  [show]="itemAdded"
  [type]="'add-success'"
  [itemName]="addedProductName"
  [text]="'successfully added to cart!'">
</app-alert>

<app-alert
  [show]="itemRemoved"
  [type]="'remove-success'"
  [itemName]="deletedProductName"
  [text]="'successfully removed from cart!'">
</app-alert>


<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a routerLink="/products" class="navbar-brand title" href="#">
      <span class="logo-text large">whee</span>
    </a>
  </div>

  <div class="navbar-text navbar-right cart-menu">
    <div
      [class]="shoppingCartItemCount <= 0 ? 'menu-button shopping-cart' : 'menu-button shopping-cart contains' "
      *ngIf="!shoppingCartView"
      (click)="navigateTo('cart')">
      <span class="menu-button__action">Shopping Cart</span>
      <i class="glyphicon glyphicon-shopping-cart menu-button__meta--icon"></i>
      <span class="menu-button__meta">
      </span>
      <span
        [class]="shoppingCartItemCount <= 0? 'menu-button__count empty': 'menu-button__count'">
        {{ shoppingCartItemCount }}
      </span>
    </div>

    <span class="back-link" *ngIf="shoppingCartView">
      <i class="glyphicon glyphicon-arrow-left"></i> back to
      <a routerLink="/products">&nbsp;Products</a>
    </span>
  </div>
</nav>
