@import '../../../colors';
@import '../../../variables';

@media only screen and(max-width: 800px) {

  .logo-text {
    color: $color-text;
  }

  .navbar {
    background-color: $color-primary;
    color: $color-text;
    border: 0;
    box-shadow: 2px 0 3px black;
  }

  .navbar-default .navbar-nav > li > a {
    color: $color-text !important;
  }
  .badge {
    background-color: $color-text !important;
    color: black;
  }
}

.inline-labelled {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  >* {
    margin-right: .6rem;
  }
}
