<app-totals-box></app-totals-box>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-data" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
            <a class="navbar-brand" routerLink="">
              <span class="logo-text logo-text--large">Whee</span>
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="collapsible-data">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="link" (click)="showTotalsDialog($event)">
                        <i class="glyphicon glyphicon-eye-open"></i> Show totals
                  </a>
              </li>
                <li><a routerLink="/cart">
                  <i class="glyphicon glyphicon-shopping-cart"></i> Shopping Cart
                  &nbsp;<span class="badge">{{shoppingCartItemCount}}</span>
                </a></li>
                <li><a routerLink="/products">
                  <i class="glyphicon glyphicon-list-alt"></i> Products
                </a></li>
            </ul>
        </div>
    </div>
</nav>
