<div class="product">

  <div class="row">
    <div class="col-xs-4">#thumb</div>
    <div class="col-xs-4">{{product.name}}</div>
    <div class="col-xs-4">{{product.price}}</div>
  </div>

  <div class="row">
    <div class="col-xs-4">#thumb</div>
    <div class="col-xs-4">{{product.description}}</div>
    <div class="col-xs-4">
      <button class="btn btn-primary" (click)="onAddToCart()">
        Add to Cart
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
  </div>

</div>

