<div class="row">
  <div class="col-xs-12">
    <div class="product">

      <div class="product__item">
          <svg class="product__thumb--svg">
            <use [attr.href]="getIconForProduct(product.name)"></use>
          </svg>
      </div>

      <div class="product__item">
          <h3 class="panel-title">{{ product.name }}</h3>
          <h4>{{ product.description }}</h4>
          <h5 class="text-right">{{ product.price | currency: 'EUR'}}</h5>
      </div>

      <div class="product__item">
          <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
          <button type="button" class="btn btn-default" *ngIf="productMode" (click)="onAddToCart()">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </button>
          <button type="button" class="btn btn-default" *ngIf="!productMode">
              <i class="glyphicon glyphicon-trash"></i>
          </button>
      </div>

    </div>
  </div>
</div>














