@import '../../../mixins';
@import '../../../colors';

.product {
  display: grid;
  grid-auto-flow: column;
  grid-gap:1rem;
  padding: 1rem;
  grid-auto-rows:  minmax(125px, auto);
  grid-template-columns: repeat(autofit);
  align-items: center;
  justify-items: center;
  border-bottom: 1px dotted $color-primary-light;

  &__svg {
    grid-row: span 2;
    grid-column: 1 / 2;
    align-items: center;
  }

  &__meta {
    grid-row: span 2;
    grid-column: 2;
    font-weight: 100;
    justify-self: left;
    align-self: center;

    &--name {
      font-size: 3rem;
      font-weight: 300;
      color: $color-primary;
    }

    &--description {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }


  &__action {

    grid-row: span 2;
    grid-column: 3;
    justify-self: left;
    align-self: center;

    > button {
      margin-right: .5rem;
    }

    &--price {
      grid-row: 1;
      grid-column: 3;
      font-size: 2.5rem;
      font-weight: 400;
      color: $color-primary-dark;
    }
  }

}

@media only screen and(max-width: 800px) {

  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    border: none;
    @include brand-box-shadow;
    background-color: $color-text;
    padding: 0;
    overflow: hidden;

    &__response-cover {
      height: 50%;
      width:100%;
      text-align: center;
      background-color: $color-primary;
      border-bottom: 1px solid $color-primary-dark;

    }

    &__meta {
      &--name {
        font-size: 4rem;
        font-weight: 300;
      }
    }

    &__item {
      margin-bottom: 1rem;
      padding: 1rem;
    }

    &__action {
      width: 100%;
      text-align: right;

      &--navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
      }

      &--price {
        color: $color-primary-dark;
        font-weight: 400;

        &.lg {
          font-weight: 100;
          font-size: 4rem;
        }
      }

    }
  }
}
