@import "../../../mixins";
@import "../../../variables";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;

  &__item {
    margin-right: 2rem;
  }

  &__meta {
    width: 100%;

    &--name {
      @include titleText;
      text-align: left;
    }

    &--description {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: left;
      color: $color-text-2;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--price {
      font-size: 3rem;
      font-weight: 300;
      color: $color-brand-red;
    }

    &--button-group {
      display: flex;
      flex-wrap: wrap;
      > button {
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and(max-width: 800px) {
  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    @include brand-box-shadow;
    margin-bottom: 1rem;
    padding: 0;

    &__response-cover {
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-text-2;
      border-bottom: 1px solid $color-text;
      border-radius: 4px;
    }

    &__meta {
      padding: 1.5rem;

      &--name {
        font-size: 3rem;
        font-weight: 300;
      }

      &--description  {
        font-size: 2.8rem;
      }
    }

    &__item {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &__footer {
      align-items: center;
      padding: 1rem 1rem;

      &--button-group {
        margin-top: 1rem;
      }

      &--price {
        font-size: 2rem;
      }
    }
  }
}

.list-group-item {
  background: none !important;
}
