.square-button {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  height: 6.4rem;
  width: 6.4rem;
  font-size: 3.2rem;
  text-align: center;
  padding: 2px;
  border-radius: 4px;


  &:hover {
    transform: translateY(-1px);
  }

  &:active {
  }
}
