 <div class="row">
   <div class="col-xs-12">
     <div class="cart-item">

      <div class="cart-item__item cart-item__meta">
          <h3>{{ item.name }}</h3>
          <h4>{{ item.description }}</h4>
      </div>

      <div class="cart-item__item cart-item__price">
        <h2>{{ item.price | currency: 'EUR'}}</h2>
      </div>

      <div class="cart-item__item cart-item__button-group">
          <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-info-sign"></i>
          </button>
          <button type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-trash" (click)="onRemoveFromCart()"></i>
          </button>
      </div>

     </div>
   </div>
 </div>
