<div class="shopping-cart-item">

    <div class="shopping-cart-item__thumb">
        <svg class="shopping-cart-item__thumb--svg">
            <use [attr.href]="getIconForProduct(item.name)"></use>
        </svg>
    </div>

    <div class="shopping-cart-item__meta">
      <div class="shopping-cart-item__meta--name">{{item.name}}</div>
      <div class="shopping-cart-item__meta--description">{{item.description}}</div>
    </div>

    <div class="shopping-cart-item__price">
      <div class="shopping-cart-item__price--currency">{{item.price | currency:'EUR'}}</div>
    </div>

    <div class="shopping-cart-item__action">
      <app-square-button
        (click)="onRemoveFromCart()"
        [buttonIconClass]="'glyphicon glyphicon-trash'">
      </app-square-button>
    </div>

  </div>
