@import "./../../../variables";
@import "./../../../mixins";

.app-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $color-brand-white;
  box-shadow: 1px 1px 2px $color-shadow-grey;
  border-radius: 4px;
  top: 4rem;
  left: 50%;
  padding: 2rem;
  border: 1px solid $color-brand-gray;
  transform: translateX(-50%);
  z-index: 10001;
  transition: all .5s ease-in-out;

  &.add-success {
    border: 1px dotted $color-brand-green;
  }

  &.remove-success {
    border: 1px dotted $color-brand-red;
  }

  &.opened {
    opacity: 1;
  }

  &.closed {
    opacity: 0;
  }
}

.alert-text {
  @include actionFontSmall;
}

.alert-icon-name {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;

}
