.app-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 4px;
  top: 4rem;
  left: 50%;
  padding: 2rem;

  transform: translateX(-50%);
  z-index: 10001;
  transition: all .5s ease-in-out;

  &.add-success {

  }

  &.remove-success {

  }

  &.opened {
    opacity: 1;
  }

  &.closed {
    opacity: 0;
  }
}

.alert-text {
}

.alert-icon-name {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;

}
