<div class="container solo-view">

  <div class="row solo-view__header">
    <div class="col-xs-12">
        <app-header-logo [subText]="'|not found|'"></app-header-logo>
    </div>
  </div>

  <app-warning-box
    [warningCondition]="productError"
    [warningText]="' Sorry, but there is no product with this ID.'"
    [actionLink]="'/products'"
    [actionLinkPostText]="'to try another'">
  </app-warning-box>

  <div class="row product-view" *ngIf="!productError" >
    <div class="col-xs-12">
      <div class="product-view__product">
        <app-product
          [product]="product"
          [viewMode]="viewMode"
          [inSolo]=true>
        </app-product>
      </div>
    </div>
  </div>
</div>
