<div class="container solo-view">

  <div class="row solo-view__header">

    <div class="col-xs-6 solo-view__header--meta" (click)="navigateTo('/cart')">
      <div *ngIf="viewMode === 'product'">
        <span class="glyphicon glyphicon-shopping-cart"></span><strong> {{cartItemsCount}}</strong>
      </div>
    </div>

    <div class="col-xs-6">
        <app-header-logo
          [subText]="!productError? '|'+product.name+'|' : '|No Product found| '"></app-header-logo>
    </div>
  </div>

  <app-warning-box
    [warningCondition]="productError"
    [warningText]="' Sorry, but there is no product with this ID.'"
    [actionLink]="'/products'"
    [actionLinkPostText]="'to try another'">
  </app-warning-box>

  <div class="row solo-view__product-view" *ngIf="product && !productError" >
    <div class="col-xs-12">
      <div class="product-view__product">
        <app-product
          [product]="product"
          [viewMode]="viewMode"
          [inSolo]=true>
        </app-product>
      </div>
    </div>
  </div>
</div>
