$black: rgb(0, 0, 0);
$dark-gray: rgba(0, 0, 0,.5);
$pink: rgb(239, 74, 141);
$gray: rgb(235, 235, 235);
$gradient-start: rgb(215, 215, 215);
$gradient-end: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-pink: rgb(239, 74, 141);
$color-brand-gray: rgb(235, 235, 235);
$color-gradient-start: rgb(215, 215, 215);
$color-gradient-end: rgb(255, 255, 255);
$color-brand-orange: orange;
$color-brand-red: red;
$color-brand-green: rgba(green, 0.8);
$color-brand-white: white;
$color-brand-grey: rgb(235, 235, 235);
$color-brand-grey-darker: rgba(gray, 0.8);
$color-shadow-grey-dark: rgba(gray, 0.9);
$color-shadow-grey: rgba(gray, 0.5);
$color-shadow-grey-light: rgba(gray, 0.3);
