@import './colors';
@import './variables';
@import './mixins';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding-top: 70px; // for top fixed navbar
}

@media only screen and(max-width: 800px) {
  body {
    font-family: 'Roboto', serif !important;
  }
}
